<navbar></navbar>
<div class="user-permissions-view">
	<h2>User Permissions</h2>
	<select ng-model="currentSelectedUser" data-ng-change="onChangeUser()" class="button button-3d button-pill">
		<option value="" >Select a User</option>
		<option ng-repeat="user in users"
				value="{{user}}">{{user}}</option>
	</select>
	<ul class="list-group" ng-if="currentSelectedUser !== ''">
		<li class="list-group-item" data-ng-repeat="permission in permissions">
			<input
				type="checkbox"
				data-ng-model="permissionsCheckboxes['checkbox-' + $index+'-status']"
				data-ng-click="setUserPermissions(permission,'checkbox-' + $index+'-status')"
				data-ng-checked="setDefaultCheck(permission)"
				data-ng-true-value="true"
				data-ng-false-value="false"
				class="user-permissions-radio">
			{{permission}}
		</li>
	</ul>
	<button ng-if="currentSelectedUser !== ''" type="button" class="button button-3d-primary button-pill" ng-click="saveUserPermissions()">
		Save Changes
	</button>
</div>
