/**
  * driveway.css - pure CSS masonry layout
  This file ignores the webkit and ms extenstions for learning purposes.
  S02e25 Anasazi
  ml              masonry-layout 
  ml-clstr        masonry-layout-cluster
  ml--fcs
  ml__fcs-crtn
*/
.ml {
  box-sizing: border-box;
  column-count: 1;
  column-gap: 0;
  position: relative;
}
.ml--fcs .ml-pnl {
  position: relative;
}
.ml--fcs .ml-pnl:hover {
  z-index: 3;
}
.ml--fcs .ml-pnl:hover ~ .ml__fcs-crtn {
  display: block;
}
.ml__fcs-crtn {
  background-color: #000;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0.75;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
.ml * {
  box-sizing: border-box;
}
/* As our viewport increases in size, we want to increase the amount of columns in our layout. 
As our viewport decreases in size, in addition the amount of columns decreasing, 
we might want our nested clusters to collapse and allow the segments to take up full width of the layout. */
@media (min-width: 768px) {
  .ml {
      column-count: 2;
  }
}
@media (min-width: 1200px) {
  .ml {
      column-count: 3;
  }
}
.ml-pnl {
  margin: 0;
  padding: 5px;
}
.ml-pnl--fcs {
  position: relative;
}
.ml-pnl--fcs:hover {
  z-index: 3;
}
.ml-pnl--fcs:hover ~ .ml__fcs-crtn {
  display: block;
}
.ml-pnl--pls {
  transform-style: preserve-3d;
  perspective: 1000;
  transition: -webkit-transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
}
.ml-pnl--pls:hover {
  transform: scale(1.02);
}
@media (min-width: 768px) {
  .ml-pnl {
      page-break-inside: avoid;
      break-inside: avoid;
  }
}
/* keep layout structure styling generic and isolated from theming styles. 
Overall style can be achieved by adding some minimal theming. */
.ml-pnl__cntnt {
  border-radius: 25px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}
// some labels are pushed down due the the above
.ml-pnl__cntnt-title {
  border-radius: 25px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.ml-pnl__cntnt--img {
  max-width: 100%;
  padding: 0;
}
// The flip card
.ml-flp {
  perspective: 1000;
}
.ml-flp:hover .ml-flp__cntnt {
  transform: rotateY(180deg);
}
.ml-flp--md {
  height: 300px;
}
.ml-flp__pnl {
  backface-visibility: hidden;
  border-radius: 25px;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.ml-flp__pnl--frnt {
  transform: rotateY(0deg);
  z-index: 2;
}
.ml-flp__pnl--bck {
  transform: rotateY(180deg);
}
.ml-flp__cntnt {
  height: 100%;
  overflow: visible;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.25s;
}
.ml-clstr {
  display: flex;
  padding: 0;
}
.ml-clstr--vrt {
  flex-direction: column;
}
/* For nested clusters, we want to ignore things such as horizontal flow and flex-basis at lower viewports. 
We want our clusters to collapse and segments take up full viewport width regardless of whether they are columns, rows, etc.
*/
@media (min-width: 768px) {
  .ml-clstr--vrt {
  flex-direction: row;
  }
}
.ml-clstr--hrz {
  flex-direction: column;
}
.ml-clstr__sgmnt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
}
.ml-clstr__sgmnt--rw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .ml-clstr__sgmnt--rw {
    flex-direction: row;
  }
}
.ml-clstr__sgmnt--clmn {
  flex-direction: column;
}
@media (min-width: 768px) {
  .ml-clstr__sgmnt--hlf {
    flex-basis: 50%;
  }
  .ml-clstr__sgmnt--qrt {
    flex-basis: 25%;
  }
}

/**
  * Color styles
*/
.tx--white {
  color: #fff;
}
.bg--red {
  background-color: #e74c3c;
}
.bg--green {
  background-color: #26a65b;
}
.bg--purple {
  background-color: #8e44ad;
}
.bg--blue {
  background-color: #1e8bc3;
}
img {
  max-height: 300px;
  background-color: #f93;
}
