<navbar></navbar>
<div ng-controller="addCtrl as controller">
  <div class="container">
          <div>&nbsp; &nbsp;</div>
          <div>&nbsp; &nbsp;</div>

    <!-- add form -->
    <form name="signup_form"
      ng-controller="addCtrl"
      ng-submit="submitForm()"
      novalidate>
        <br/>
        <button type="file" class="button button-3d-caution button-pill" ngf-select="uploadFiles($file, $invalidFiles)" accept=".docx">
          Upload File
        </button>
        <br>
        <br>
        <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
          <span class="progress" ng-show="f.progress >= 0">
                  <div style="width:100%" ng-bind="f.progress + '%'" class="ng-binding">100%</div>
          </span>
          <span ng-show="showStartedToProcess">Please wait until the uploaded document is processed.</span>
          <span ng-show="f.result" class="">Uploaded and Processed Successfully.</span>
        </div>
        {{errorMsg}}
        <br/>
        <button type="button" class="button button-3d-primary button-pill" ng-click="getFromFirebase()">
          Use Backup
        </button>
        <br/>
        <br/>
        <span ng-show="showBackupProcessing">Please wait until the data is backed up.</span>
        <span ng-show="isBackupSuccess">Backed up Successfully.</span>
    </form>

  </div>

</div>
