<navbar></navbar>
<div ng-controller="View2Ctrl as controller">
  <div class="container">
     <div class="lab text-center">
      <img ng-show="viewModel.spinner" ng-src="assets/images/spinner.gif" style="background:none">
      <div id="text" ng-hide="viewModel.spinner">
          <div class="row">
              <div class="col-md-12 text-center">
                  <span id="artist"
                        style="color: Moccasin;"
                        class="button button-pill button-highlight">
                      {{viewModel.name}}</span>
                  <br/>
                  <span id="title"
                        ng-if ="viewModel.DOB"
                        style="color: Moccasin;"
                        class="button button-pill button-highlight">
                      {{viewModel.DOB}}</span>
              </div>
          </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p ng-if="viewModel.skinName">
              <span id="SkinNameSkinName"
                class="button button-pill">Skin Name</span>
              <span class="button-pill button-highlight"
                id="skinName__text">{{viewModel.skinName}}</span>
            </p>
            <p ng-if="viewModel.language">
              <span class="button button-pill">Language</span>
                <span class="button button-pill button-highlight">{{viewModel.language}}</span>
            </p>
            <p ng-if="viewModel.region">
              <span class="button button-pill">Region</span>
              <span class="button button-pill button-highlight">{{viewModel.region}}</span>
            </p>
            <p ng-if="viewModel.dreaming">
              <span class="button button-pill">Dreaming</span>
              <span class="button button-pill button-highlight">{{viewModel.dreaming}}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p id="artist" style="margin:30px;" class="button-pill button-highlight">
              <p style="padding: 25px; text-indent: 50px;" id="bio">
              <span ng-hide="editModeEnabled">{{viewModel.bio.title}}</span>
              <input ng-show="editModeEnabled" type="text" data-ng-model="editModel.bio.title"/>
              </p>
              <p style="padding: 25px; text-indent: 50px;" id="bio">
              <span ng-hide="editModeEnabled">{{viewModel.bio.body}}</span>
              <textarea ng-show="editModeEnabled" data-ng-model="editModel.bio.body" >{{editModel.bio.body}}</textarea>
              </p>
			  <p style="padding: 25px; text-indent: 50px;" id="bio">
              <span ng-hide="editModeEnabled">{{viewModel.bio.AASDLink}}</span>
              <input ng-show="editModeEnabled" type="text" data-ng-model="editModel.bio.AASDLink"/>
              </p>
			  <p style="padding: 25px; text-indent: 50px;" id="bio">
              <span ng-hide="editModeEnabled">{{viewModel.bio.WikiLink}}</span>
              <input ng-show="editModeEnabled" type="text" data-ng-model="editModel.bio.WikiLink"/>
              </p>
              <button type="button" ng-hide="editModeEnabled" ng-click="editModeEnabled = true" class="button-pill button-highlight">
                Click to edit
              </button>
              <button ng-show="editModeEnabled" type="button" ng-click="saveTitleAndBody(editModel)" class="button-pill button-highlight">
                Save
              </button>
              <button ng-show="editModeEnabled" type="button" ng-click="editModeEnabled = false" class="button-pill button-highlight">
                Cancel
              </button> 
            </p> 
          </div> 
          <span ng-show="updatedMessage.status">{{updatedMessage.msg}}</span>
        </div>
		<div class="row">
		  <div class="col-md-12 text-center">
		    <p id="link">
			<a href={{viewModel.AASDLink}} target="_blank">AASD Link</a><br>
			<a href={{viewModel.wikiLink}} target="_blank">Wiki Link</a>
		    </p>
		  </div>
		</div>
      </div>
    </div>
  </div>
</div>
