<div>
  <svg>
    <defs>
      <pattern id="dots1" 
        patternUnits="userSpaceOnUse" 
        width="10" 
        height="10" >
        <circle cx="5" 
          cy="5" 
          r="5" 
          fill="#caa04c"></circle>
      </pattern>
      <pattern id="dots2" 
        patternUnits="userSpaceOnUse" 
        width="10" 
        height="10" >
        <circle cx="5" 
          cy="5" 
          r="5" 
          fill="#894635"></circle>
      </pattern>
    </defs>
    <rect x="0" y="0" 
      width="50" height="20" 
      fill="url(#dots1)"
      style="background-color:#894635"></rect>
    <rect x="50" y="0" 
      width="50" height="20" 
      fill="url(#dots2)"
      style="background-color:#894635"></rect>
    <rect x="100" y="0" 
      width="50" height="20" 
      fill="url(#dots1)"
      style="background-color:#894635"></rect>
    <rect x="150" y="0" 
      width="50" height="20" 
      fill="url(#dots2)"
      style="background-color:#894635"></rect>
    <rect x="200" y="0" 
      width="50" height="20" 
      fill="url(#dots1)"
      style="background-color:#894635"></rect>
    <rect x="250" y="0" 
      width="50" height="20" 
      fill="url(#dots2)"
      style="background-color:#894635"></rect>
    <rect x="300" y="0" 
      width="50" height="20" 
      fill="url(#dots1)"
      style="background-color:#894635"></rect>
    <rect x="350" y="0" 
      width="50" height="20" 
      fill="url(#dots1)"
      style="background-color:#894635"></rect>
    <rect x="400" y="0" 
      width="50" height="20" 
      fill="url(#dots1)"
      style="background-color:#894635"></rect>
  </svg>
</div>
