<navbar></navbar>
<div ng-controller="LoginCtrl as controller"
	class="login-page clearfix">
	<p></p><p></p><p></p><p></p>
    <img src="assets/images/ryans-tree-logo.svg"
    	width="27%"
    	id="ryans-tree-logo"/>
    <h3>The Rockend Art Collection</h3>
    <div ng-if="!auth.profile">
	    <p ng-if="auth.profile === undefined">You must be logged in to use this site</p>
    	<a ng-click="login()" 
    		class="button button-3d-caution button-pill"
    		style="text-align-last: none !important;">Sign In</a>
    </div>
 	<div ng-if="auth.profile">
 		<a ng-click="login()" 
 			class="button button-3d-action button-pill">Sign Out</a>
 		<div class="userInfo"
 			ng-if="auth.profile.email">
  			<div class="item item-button-right">
				<span>
					<i class="button button-3d button-pill">
					Logged in as 
					</i>
					<i class="button button-3d-primary button-pill">
					{{auth.profile.nickname}}</i>
				</span>
			</div>
			<div class="item item-button-right">
				<span>
					<i class="button button-3d button-pill">
					Created at
					</i>
					<i class="button button-3d-primary button-pill"> 
					{{auth.profile.created_at}}
					</i>
				</span>
			 </div>
			 <div class="item item-button-right">
				<span>
					<i class="button button-3d button-pill">
					Email
					</i>
					<i class="button button-3d-primary button-pill"> 
					{{auth.profile.email}}
					</i>
				</span>
			 </div>
			 <div class="item item-button-right">
				<span>
					<i class="button button-3d button-pill">
					Email verified 
					</i>
					<i class="button button-3d-primary button-pill">
					{{auth.profile.email_verified}}
					</i>
				</span>
			 </div>
			 <div class="item item-button-right">
				<span>
					<i class="button button-3d button-pill">
					Auth
					</i>
					<i class="button button-3d-primary button-pill"> 
					{{auth.profile.connection}}
					</i>
				</span>
			 </div>
		</div>
	</div>
</div>
